
<div id="left-side">
  <ol>
    {{#each burgers}}
      {{#unless this.devoured}}
        <li>
          {{this.burger_name}}
          <form id="updateForm" action="/update" method="POST">
            <input type="hidden" name="devoured" value="true">
            <input type="hidden" name="id" value={{this.id}}>
            <button id="updateBtn" type="submit">Eat This One!</button>
          </form>
        </li>
      {{/unless}}
    {{/each}}
  </ol>
</div>

<div id="center">
  <h1>Eat Da Burger!</h1>
  <img id="picture" src="/assets/img/hamburger.png" alt="hamburger">

  <h2>Add a Burger</h2>
  <form class="create-form" action="/create" method="POST">

    <div class="form-group">
      <input type="text" id="bur" name="burger_name">
    </div>
    <button id="submitBtn" type="submit">Submit</button>
  </form>
  <p>Enter a burger you want to eat and click the "Submit" button.</p>
</div>


<div id="right-side">
  <ol>
    {{#each burgers}}
      {{#if this.devoured}}
        <li>
          {{this.burger_name}}
        </li>
      {{/if}}
    {{/each}}
  </ol>
</div>


