body {
	background-color: orange;
}

#left-side, #center, #right-side {
	width: 31%;
	float: left;
	padding-left: 2%;
}

#left-side, #right-side {
	padding-top: 100px;
}

#picture {
	width: 200px;
	height: 200px;
}

#center {
	text-align: center;
}

#bur {
	width: 90%;
	height: 30px;
	margin-bottom: 20px;
	font-size: 15px;
}
#updateBtn, #submitBtn {
	font-size: 15px;

}
li {
	font-size: 20px;
}